
<a asp-controller="Home" asp-action="Calculator">Go to Calculator</a>

    <h1>Underwater Basket Weaving Fanatics, Welcome!</h1>
    @*Custom Icon next to title on web page *@

    <h3>Here we have everything you need to know about the ancient art of Basket Weaving</h3>

    <img src=" ~/img/basketweaving2.jpg" height=" 400" />

    @*Paragraph about the lost art of Basket Weaving *@
    <p>
        Basket weaving is an incredibly impressive and skillful craft that requires patience, precision, and creativity.
        Master weavers must carefully select and prepare natural materials, ensuring they are flexible yet durable enough to be woven into intricate patterns. The process demands a deep understanding of tension, symmetry, and design, as even the slightest miscalculation can affect the basket’s structure and appearance.
        Many traditional weaving techniques have been passed down for generations, with artisans incorporating cultural symbols and complex patterns that showcase their expertise.
        The ability to transform simple reeds, grasses, or bamboo into functional and artistic masterpieces highlights the remarkable craftsmanship and dedication involved in this timeless art form.
    </p>

    <img src=" ~/img/basketweaving.jpg" height="400"/>

    @*List of interesting basket weaving facts *@
    <p>Fun Facts about Basket Weaving:</p>
    <ul>
        <li>1. Basket weaving is over 10,000 years old, making it one of humanity’s oldest crafts, even predating pottery.</li>
        <li>2. Weavers use locally available materials like willow, reeds, grasses, and bamboo, varying by region and culture.</li>
        <li>3. While baskets were originally made for carrying, storing, and fishing, many cultures now use them as intricate art pieces with symbolic designs.</li>
        <li>4. Basket Weaving is so important that even BYU has an article about the Basket Weaving class.</li>
    </ul>