<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mission5.styles.css" asp-append-version="true" />


</head>
<body>
    <header>
        <nav class="top-nav">
            <div class="container">
                <a class="nav-logo" asp-area="" asp-controller="Home" asp-action="Index">Mission5</a>
                <div class="nav-links">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Calculator">Tutoring Calculator</a>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
	
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/weavingcalculator.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <footer class="site-footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Mission5. All Rights Reserved.</p>
            <p>Built by Audra Kendrick</p>
        </div>
    </footer>

</body>
</html>
